/* CSS da Lista de Usuários para Pagamento */

/* COLOR SCHEME

    #c8d8e4

*/

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.teste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
}

.container {
    width: 50%;
    max-width: 140px;
    background-color: #ffffff;
    padding: 1.25rem;
    margin: 12px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #ffffff;
    box-shadow: 5px 5px 10px #888888;
}

.thumbnail {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 15px 0px;
}

.profile-container {
    position: relative;
}

.btn-pgto {
    position: absolute;
    right: -10px;
    bottom: -15px;
    width: 30%;
    height: 30%;
    background-color: #52ab98;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100%;
    text-align: center;
    line-height: 50%;
    cursor: pointer;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
}

.btn-pgto:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.icon {
    filter: invert(100%) sepia(9%) saturate(7485%) hue-rotate(213deg) brightness(124%) contrast(107%);
}

.infos {
    margin-right: auto;
}

.infos p {
    margin: 0;
    font-family: Roboto-Regular;
}

.item-id {
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 10px;
    font-style: italic;
    color: #696969;
}

.item-name {
    color: #000000;
}

.item-username {
    font-size: 12px;
    color: #696969;
}

/*

button {
    padding: 0.25rem 0.438rem;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
} */

/* CSS dos Modals */

.abrirModal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 'auto';
    bottom: 'auto';
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 190px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.texto-cabecalho-modal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #474971;
    color: #FFFFFF;
    padding: 10px;
    width: 94%;
    margin-top: 0%;
    align-content: center;
    font-weight: bold;
}

.texto-cabecalho-modal span {
    color: #C8D63C;
    font-weight: bold;
}

.abrirModal select {
    width: 57%;
    height: 30px;
    border-radius: 5px;
}

.abrirModal button {
    width: 20%;
    margin-bottom: 10px;
}

.abrirModal p {
    text-align: center;
}

.valorInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.valorInput p {
    margin: 0;
    color: red;
    font-weight: bold;
    margin-top: 2%;
}

/* Media Queries */

@media screen and (max-width: 412px) and (min-width: 391px) {
   
}

@media screen and (max-width: 390px) and (min-width: 376px) {
   
}

@media screen and (max-width: 375px) and (min-width: 361px) {
   
}

@media screen and (max-width: 360px) and (min-width: 280px) {
   
}