body {
    background-color: #31334c;
}

ul {
    list-style-type: none;
    display: flex;
}


.dados-listagem {
    background-color: #31334c;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    border-radius: 50%;
}

.nomedeusuario, .id-username {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 3%;
    margin-left: 3%;
}

.botao-pagar {
    width: 75px;
    margin-top: 65%; 
    margin-left: 15%;
    font-size: 15px;
    font-weight: bold;
    align-content: right;
}

hr {
    border-top: 1px solid red;
}